<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.member.repository.FaqRepository">
    <select id="getAllFaqs" resultType="com.example.member.entity.Faq">
        SELECT * FROM faq ORDER BY faq_no DESC
    </select>

    <select id="getFaqById" parameterType="java.lang.Long" resultType="com.example.member.entity.Faq">
        SELECT * FROM faq WHERE faq_no = #{faqNo}
    </select>

    <insert id="insertFaq" parameterType="com.example.member.entity.Faq" useGeneratedKeys="true" keyProperty="faqNo">
        INSERT INTO faq (question, answer) VALUES (#{question}, #{answer})
    </insert>

    <update id="updateFaq" parameterType="com.example.member.entity.Faq">
        UPDATE faq SET question = #{question}, answer = #{answer} WHERE faq_no = #{faqNo}
    </update>

    <delete id="deleteFaq" parameterType="java.lang.Long">
        DELETE FROM faq WHERE faq_no = #{faqNo}
    </delete>
</mapper>