<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.member.repository.MemberRepository">

        <select id="findAll" resultType="com.example.member.entity.Member">
            SELECT u_no, u_id, u_pass, u_name, u_pnumber, u_email, u_gender FROM users
        </select>
        <select id="findMemberByno" parameterType="Integer" resultType="com.example.member.entity.Member">
            SELECT u_no, u_id, u_pass, u_name, u_pnumber, u_email, u_gender
            FROM users
            WHERE u_no = #{u_no}
        </select>
    <select id="findById" resultType="com.example.member.entity.Member">
        SELECT u_no, u_id, u_pass, u_name, u_pnumber, u_email, u_gender FROM users WHERE u_name = #{u_name}
    </select>


    <insert id="insertMember" parameterType="com.example.member.entity.Member">
            INSERT INTO users (
                u_id, u_pass, u_name, u_pnumber, u_email, u_gender
            ) VALUES (
                         #{u_id}, #{u_pass}, #{u_name}, #{u_pnumber}, #{u_email}, #{u_gender}
                     )
        </insert>
        <update id="updateMember" parameterType="com.example.member.entity.Member">
            UPDATE users
            SET u_id = #{u_id},
                u_pass = #{u_pass},
                u_name = #{u_name},
                u_pnumber = #{u_pnumber},
                u_email = #{u_email},
                u_gender = #{u_gender}
            where u_no = #{u_no}


        </update>
        <delete id="deleteByno" parameterType="Integer">
            DELETE FROM users
            WHERE u_no = #{u_no}
        </delete>



    <select id="validateLogin" parameterType="map"  resultType="com.example.member.entity.Member">
        SELECT u_no, u_id, u_pass, u_name, u_pnumber, u_email, u_gender FROM users WHERE u_id = #{u_id} AND u_pass = #{u_pass}
    </select>

    <select id="isDuplicateId" parameterType="string" resultType="boolean">
        SELECT COUNT(*) > 0 FROM users WHERE u_id = #{u_id}
    </select>

    <select id="findByUserIdAndPass" resultType="com.example.member.entity.Member">
        SELECT u_no, u_id, u_pass, u_name, u_pnumber, u_email, u_gender  FROM users
        WHERE u_id = #{u_id} AND u_pass = #{u_pass}
    </select>



</mapper>