<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.animal.repository.AdoptionReviewRepository">

    <resultMap id="adoptionReviewResultMap" type="com.example.animal.entity.AdoptionReview">
        <id property="arNo" column="ar_no"/>
        <result property="uNo" column="u_no"/>
        <result property="reviewContent" column="review_content"/>
        <result property="createdAt" column="created_at"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.animal.entity.AdoptionReview" useGeneratedKeys="true" keyProperty="arNo">
        INSERT INTO adoption_review (u_no, review_content, created_at, view_count, like_count)
        VALUES (#{uNo}, #{reviewContent}, NOW(), 0, 0)
    </insert>

    <update id="update" parameterType="com.example.animal.entity.AdoptionReview">
        UPDATE adoption_review
        SET review_content = #{reviewContent}
        WHERE ar_no = #{arNo}
    </update>

    <select id="selectById" parameterType="long" resultMap="adoptionReviewResultMap">
        SELECT ar_no, u_no, review_content, created_at, view_count, like_count
        FROM adoption_review
        WHERE ar_no = #{arNo}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM adoption_review WHERE ar_no = #{arNo}
    </delete>

    <sql id="searchConditionsSql">
        <where>
            <if test="keyword != null and keyword != ''">
                AND review_content LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="species != null and species != ''">
            </if>
        </where>
    </sql>

    <select id="selectReviewsWithSearch" parameterType="map" resultMap="adoptionReviewResultMap">
        SELECT ar_no, u_no, review_content, created_at, view_count, like_count
        FROM adoption_review ar <include refid="searchConditionsSql"/>
        ORDER BY created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectTotalCountWithSearch" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM adoption_review ar
        <include refid="searchConditionsSql"/>
    </select>

    <update id="incrementViewCount" parameterType="long">
        UPDATE adoption_review SET view_count = view_count + 1 WHERE ar_no = #{arNo}
    </update>

    <update id="incrementLikeCount" parameterType="long">
        UPDATE adoption_review SET like_count = like_count + 1 WHERE ar_no = #{arNo}
    </update>

</mapper>