<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.animal.repository.BoardRepository">

    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="com.example.animal.entity.Board" useGeneratedKeys="true" keyProperty="bNo">
        INSERT INTO board (b_title, b_content, b_author)
        VALUES (#{bTitle}, #{bContent}, #{bAuthor})
    </insert>

    <!-- 게시글 전체 조회 -->
    <select id="findAll" resultType="com.example.animal.entity.Board">
        SELECT * FROM board ORDER BY b_date DESC
    </select>

    <!-- 게시글 페이징 조회 -->
    <select id="findBoardsByPage" resultType="com.example.animal.entity.Board" parameterType="map">
        SELECT * FROM board
        ORDER BY b_date DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 게시글 총 개수 조회 -->
    <select id="countBoards" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

    <!-- 게시글 상세 조회 -->
    <select id="findById" parameterType="long" resultType="com.example.animal.entity.Board">
        SELECT * FROM board WHERE b_no = #{bNo}
    </select>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.example.animal.entity.Board">
        UPDATE board
        SET b_title = #{bTitle},
            b_content = #{bContent},
            b_author = #{bAuthor}
        WHERE b_no = #{bNo}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="long">
        DELETE FROM board WHERE b_no = #{bNo}
    </delete>

    <!-- 조회수 증가 -->
    <update id="incrementViewCount" parameterType="long">
        UPDATE board
        SET view_count = view_count + 1
        WHERE b_no = #{bNo}
    </update>

    <update id="increaseLikeCount" parameterType="long">
        UPDATE board
        SET like_count = like_count + 1
        WHERE b_no = #{bNo}
    </update>

    <!-- 게시글 좋아요 수 조회 -->
    <select id="getLikeCount" parameterType="long" resultType="int">
        SELECT like_count FROM board WHERE b_no = #{bNo}
    </select>


</mapper>
