<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:text="${faq.faqNo} == null ? 'FAQ 등록' : 'FAQ 수정'">FAQ 폼</title>
</head>
<body>

<h2 th:text="${faq.faqNo} == null ? 'FAQ 등록' : 'FAQ 수정'"></h2>

<!-- 등록 폼 -->
<form th:action="@{/faqs}" method="post" th:if="${faq.faqNo} == null">

  <label for="question-create">질문</label><br/>
  <input type="text" id="question-create" name="question" th:value="${faq.question}" required />
  <br/><br/>

  <label for="answer-create">답변</label><br/>
  <textarea id="answer-create" name="answer" rows="5" cols="50" required th:text="${faq.answer}"></textarea>
  <br/><br/>

  <button type="submit">등록</button>
</form>

<!-- 수정 폼 -->
<form th:action="@{/faqs/{id}/edit(id=${faq.faqNo})}" method="post" th:unless="${faq.faqNo} == null">

  <label for="question-edit">질문</label><br/>
  <input type="text" id="question-edit" name="question" th:value="${faq.question}" required />
  <br/><br/>

  <label for="answer-edit">답변</label><br/>
  <textarea id="answer-edit" name="answer" rows="5" cols="50" required th:text="${faq.answer}"></textarea>
  <br/><br/>

  <button type="submit">수정</button>
</form>


</body>
</html>
