<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petbridge.repository.AdminRepository">
    <resultMap id="adminMap" type="com.example.petbridge.entity.Admin">
        <result property="aId" column="a_id"/>
        <result property="aPass" column="a_pass"/>
        <result property="aName" column="a_name"/>
    </resultMap>

    <resultMap id="adminResultMap" type="com.example.petbridge.entity.Admin">
        <id property="aId" column="a_id"/>           <!-- 필드명 변경 -->
        <result property="aName" column="a_name"/>
        <result property="aPass" column="a_pass"/>
    </resultMap>

    <select id="findAll" resultType="com.example.petbridge.entity.Admin">
        SELECT a_id,a_pass,a_name FROM admin
    </select>

    <insert id="insert" parameterType="com.example.petbridge.entity.Admin">
        INSERT INTO admin (a_id, a_pass, a_name)
        VALUES (#{a_id}, #{a_pass}, #{a_name})
    </insert>

    <select id="countAdmins" resultType="int">
        SELECT COUNT(*) FROM admin
    </select>

    <select id="findByLoginIdAndPass" resultMap="adminMap">
        SELECT a_id, a_pass, a_name
        FROM admin
        WHERE a_id = #{a_id} AND a_pass = #{a_pass}
    </select>

    <select id="selectAllAdmins" resultType="com.example.petbridge.entity.Admin">

        SELECT a_id,a_pass,a_name FROM admin



    </select>

    <update id="updateAdmin">
        UPDATE admin
        SET
            a_name = #{aName},
            a_pass = #{aPass}
        WHERE
            a_id = #{aId}
    </update>




</mapper>