<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.petbridge.repository.Adoption_applicationRepository">

    <resultMap id="AdoptionApplicationMap" type="com.example.petbridge.entity.Adoption_application">
        <id property="id" column="id"/>
        <result property="uId" column="u_id"/>
        <result property="motivation" column="motivation"/>
        <result property="housingType" column="housing_type"/>
        <result property="petAllowed" column="pet_allowed"/>
        <result property="familyInfo" column="family_info"/>
        <result property="allergyInfo" column="allergy_info"/>
        <result property="currentPets" column="current_pets"/>
        <result property="experience" column="experience"/>
        <result property="job" column="job"/>
        <result property="workType" column="work_type"/>
        <result property="petCarePlan" column="pet_care_plan"/>
        <result property="financialStatus" column="financial_status"/>
        <result property="animalType" column="animal_type"/>
        <result property="animalDetail" column="animal_detail"/>
        <result property="careTime" column="care_time"/>
        <result property="exercisePlan" column="exercise_plan"/>
        <result property="travelPlan" column="travel_plan"/>
        <result property="agreement" column="agreement"/> <result property="createdAt" column="created_at"/> <result property="pledge" column="pledge"/>     <result property="housing" column="housing"/>
        <result property="animal_id" column="animal_id"/>
        <result property="animalName" column="animal_name"/>
        <result property="status" column="status"/>
    </resultMap>


    <insert id="insert" parameterType="com.example.petbridge.entity.Adoption_application" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO adoption_application (
            animal_id,
            animal_name,
            animal_type,
            animal_detail,
            u_id,
            housing,
            housing_type,
            pet_allowed,
            family_info,
            allergy_info,
            motivation,
            pledge,
            current_pets,
            experience,
            job,
            work_type,
            pet_care_plan,
            financial_status,
            care_time,
            exercise_plan,
            travel_plan,
            agreement,
            status,          created_at       ) VALUES (
                                                           #{animal_id},
                                                           #{animalName},
                                                           #{animalType},
                                                           #{animalDetail},
                                                           #{uId},
                                                           #{housing},
                                                           #{housingType},
                                                           #{petAllowed},
                                                           #{familyInfo},
                                                           #{allergyInfo},
                                                           #{motivation},
                                                           #{pledge},
                                                           #{currentPets},
                                                           #{experience},
                                                           #{job},
                                                           #{workType},
                                                           #{petCarePlan},
                                                           #{financialStatus},
                                                           #{careTime},
                                                           #{exercisePlan},
                                                           #{travelPlan},
                                                           #{agreement},
                                                           #{status},         #{createdAt}       )
    </insert>

    <update id="update" parameterType="com.example.petbridge.entity.Adoption_application">
        UPDATE adoption_application
        SET
            animal_name = #{animalName},
            animal_type = #{animalType},     animal_detail = #{animalDetail}, housing = #{housing},
            housing_type = #{housingType},
            pet_allowed = #{petAllowed},
            family_info = #{familyInfo},
            allergy_info = #{allergyInfo},
            motivation = #{motivation},
            pledge = #{pledge},
            current_pets = #{currentPets},
            experience = #{experience},
            job = #{job},
            work_type = #{workType},
            pet_care_plan = #{petCarePlan},
            financial_status = #{financialStatus},
            care_time = #{careTime},
            exercise_plan = #{exercisePlan},
            travel_plan = #{travelPlan},
            agreement = #{agreement},
            status = #{status} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.example.petbridge.entity.Adoption_application">
        DELETE FROM adoption_application WHERE id = #{id}
    </delete>

    <select id="countByUserIdAndAnimalId" resultType="int">
        SELECT COUNT(*)
        FROM adoption_application
        WHERE u_id = #{uId}
          AND animal_id = #{animal_id}
    </select>

    <select id="findByUserId" parameterType="string" resultMap="AdoptionApplicationMap">
        SELECT
            id, u_id, motivation, housing_type, pet_allowed, family_info, allergy_info,
            current_pets, experience, job, work_type, pet_care_plan, financial_status,
            animal_type, animal_detail, care_time, exercise_plan, travel_plan,
            agreement, created_at, pledge, housing, animal_id, animal_name, status
        FROM adoption_application
        WHERE u_id = #{uId}
    </select>


    <select id="findAll" resultMap="AdoptionApplicationMap">
        SELECT
            id, u_id, motivation, housing_type, pet_allowed, family_info, allergy_info,
            current_pets, experience, job, work_type, pet_care_plan, financial_status,
            animal_type, animal_detail, care_time, exercise_plan, travel_plan,
            agreement, created_at, pledge, housing, animal_id, animal_name, status
        FROM adoption_application
    </select>

    <select id="findById" parameterType="long" resultMap="AdoptionApplicationMap">
        SELECT
            id, u_id, motivation, housing_type, pet_allowed, family_info, allergy_info,
            current_pets, experience, job, work_type, pet_care_plan, financial_status,
            animal_type, animal_detail, care_time, exercise_plan, travel_plan,
            agreement, created_at, pledge, housing, animal_id, animal_name, status
        FROM adoption_application
        WHERE id = #{id}
    </select>

    <update id="updateStatus">
        UPDATE adoption_application
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM adoption_application
        WHERE id = #{id}
    </delete>


    <select id="findAdoptionApplicationsWithAnimalAndUser" resultType="com.example.petbridge.DTO.MyPageApplicationDTO">
        SELECT
            aa.id AS adoptionId,
            aa.status,
            aa.created_at AS createdAt,
            aa.animal_id AS animalId,
            aa.u_id AS applicantId,
            a.name AS animalName,
            a.species AS animalSpecies,
            a.age AS animalAge,
            a.gender AS animalGender,
            u.u_name AS applicantName,
            u.u_email AS applicantEmail
        FROM
            adoption_application aa
                JOIN
            animal a ON aa.animal_id = a.id
                JOIN
            users u ON aa.u_id = u.u_id
        WHERE
            aa.u_id = #{userId}
        ORDER BY
            aa.created_at DESC

    </select>

</mapper>