<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.petbridge.repository.VolunteerRepository">
    <resultMap id="volunteerResultMap" type="com.example.petbridge.entity.Volunteer">

        <result property="shelter" column="shelter"/>
        <result property="volunteer_date" column="volunteer_date"/>
        <result property="volunteer_area" column="volunteer_area"/>
        <result property="volunteer_time" column="volunteer_time"/>
        <result property="motivation" column="motivation"/>
        <result property="agreement" column="agreement"/>


    </resultMap>

    <insert id="insert" parameterType="com.example.petbridge.entity.Volunteer">
        INSERT INTO volunteer_application
        (u_id,shelter,volunteer_date,volunteer_time,volunteer_area,motivation,agreement,guardianName)
        VALUES
            (#{u_id},#{shelter},#{volunteer_date},#{volunteer_time},#{volunteer_area},#{motivation},
             #{agreement},#{guardianName})

    </insert>


    <select id="findByUserId" parameterType="string" resultType="com.example.petbridge.entity.Volunteer">
        SELECT
            va.id,
            va.u_id,
            u.u_name,
            va.shelter,
            va.volunteer_date,
            va.volunteer_time,
            va.volunteer_area,
            va.motivation,
            va.agreement,
            va.guardianName,
            va.created_at
        FROM
            volunteer_application va
                JOIN
            users u ON va.u_id = u.u_id
        WHERE
            va.u_id = #{u_id}
        ORDER BY
            va.created_at DESC
    </select>







</mapper>